@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e2e6ea;
}

/* Navbar */
nav {
  display: flex;
  height: 70px;
  background-color: #f4f3f3;
}

nav div {
  display: flex;
  align-items: center;
  flex: auto;
}

nav div.left-side {
  padding-left: 80px;
}

nav div.right-side {
  padding-right: 80px;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  margin-inline: auto;
  margin-left: 40px;
  list-style: none;
}

nav ul li {
  margin-left: 40px;
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: normal;
}

nav ul li a.list-active {
  color: #030303;
  font-weight: bold;
}

nav div.right-side a {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: #111727;
  text-decoration: none;
  color: white;
  font-size: small;
}

/* Card Peofile */

.position{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}

.container {
  padding: 50px;
  display: flex;
  width: 1080px;
  background-color: #fefefe;
  box-shadow: 0 4px 10px #999999;
}

.left {
  width: 800px;
  padding: 50px;
}

.text h1 {
  margin-bottom: 50px;
}

.text p {
  text-align: justify;
  margin-bottom: 50px;
}

.button {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.contact {
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 100px;
  margin-right: 20px;
}

.download-button{
  display: flex;
}

.download {
  justify-content: center;
  text-align: center;
  display: flex;
  text-decoration: none;
  color: black;
}

.download-ico {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.social-media {
  display: flex;
}

.social-media a img {
  width: 40px;
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.right {
  padding: 50px;
}

.card {
  border: none;
  width: 300px;
  background-color: #f8f5f5;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px #999999;
}

.profile {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.text-profile {
  padding: 10px;
  margin-bottom: 10px;
}

/* Form Contact */

.text-form {
  margin: auto;
  text-align: center;
  padding: 50px;
  text-transform: uppercase;
}

form {
  width: 512px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 512px;
  margin: auto;
}

form label {
  font-size: 20px;
  font-weight: 500;
}

form input,
textarea,
select {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 10px #999999;
}

form textarea {
  height: 100px;
}

form button {
  padding-block: 5px;
  padding-inline: 20px;
  color: white;
  background-color: black;
  font-size: medium;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}
